<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>

<body>
    <h1>Success!</h1>

    <h2>New Contact Information</h2>
    <table th:object="${contact}">
        <tr>
            <td>Name:</td>
            <td>
                <p th:text="*{name}"></p>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <p th:text="*{email}"></p>
            </td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>
                <p th:text="*{phone}"></p>
            </td>
        </tr>

    </table>

</body>

</html>